@page "/draft"

@using DraftR.Client.Components.DraftRoom.MessageBoard
@using DraftR.Client.Components.DraftRoom.CheatSheet

@code {

}

<h3>DraftRoom</h3>

<div>
    <MessageBoard />
    <CheatSheet />
</div>
